<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>466296971483-fm1320rr4vp0mit6fjndhh7l4b349b6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgRbQDChzPvZzj0rHOCybtPpE_uPnGi2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>466296971483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tonyWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>makeover-3d213</string>
	<key>STORAGE_BUCKET</key>
	<string>makeover-3d213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466296971483:ios:a338bc3104d2ac1856acfe</string>
	<key>DATABASE_URL</key>
	<string>https://makeover-3d213.firebaseio.com</string>
</dict>
</plist>